@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
main{
   display:  flex;
   flex-direction: row;
   align-items: start;
   gap: 15px;
   padding: 10px;
   background-color: #eeedee;
   height: calc(100vh - 60px);
   font-family: Arial, Helvetica, sans-serif;
}

aside{
   position: relative;
   background-color: white;
   overflow: hidden;
   height: calc(100% - 20px);
   width: 250px;
   border-radius: 10px;
   padding: 10px;
   box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.073);

   & #userInfo{
      position: absolute;
      bottom: 40px;
   }

   & #user-img{
      height: 60px;
      width: 60px;
      background-color: cadetblue;
      border-radius: 100%;
      margin: 0px auto 5px auto;
   }

   & #user-name{
      font-size: 15px;
      text-align: center;
   }
   & #user-email{
      color: gray;
      font-size: 15px;
   }


   & .signoutButton-box{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 5px;
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
      width: 100%;
      font-size: 14px;
      color: darkred;
      cursor: pointer;
      transition: 0.4s;
      padding: 5px 0;
      background-color: rgba(255, 0, 0, 0.153);
      
      &:hover{
         background-color: rgba(139, 0, 0, 0.363);
      }
   }
}
section{
   background-color: white;
   height: calc(100% - 20px);
   width: 100%;
   border-radius: 10px;
   padding: 10px;
   box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.073);
   font-family: "Jost";
}

#black-background-form, #black-background-formEdit{
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   left: 0;
   top: 0;
   height: 100vh;
   width: 100vw;
   background-color: rgba(0, 0, 0, 0.556);
}

#openForm{
   width: 130px;
   height: 30px;
   background-color: cadetblue;
   border-radius: 5px;
   text-align: center;
   line-height: 30px;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   cursor: pointer;
   transition: 0.4s;
   margin-bottom: 10px;

   &:hover{
      background-color: rgb(65, 115, 117);
   }
}

.form-box{
   position: relative;
   width: 300px;
   background-color: white;
   padding: 10px;
   border-radius: 5px;
   font-family: Arial;

   input:disabled{
      background-color: lightgray;
   }

   & h3{
      color: rgb(0, 141, 136);
      text-align: center;
      margin-bottom: 10px;
   }

   & .close-button{
      position: absolute;
      right: 10px;
      top: 10px;
      width: 25px;
      height: 25px;
      background-color: rgb(205, 205, 205);
      border-radius: 3px;
      color: rgb(92, 92, 92);
      text-align: center;
      align-content: center;
      cursor: pointer;
      transition: 0.4s;

      &:hover{
         background-color: rgb(161, 161, 161);
      }

      & span{
         margin-left: -2px;
         margin-top: -2px;
      }

   }

}
#formId, #editId{
   display: flex;
   flex-direction: column;
   gap: 5px;
   padding-top: 10px;

   & .row{
      display: flex;
      justify-content: stretch;
      gap: 5px;
      max-width: 100%;
   }
   
   & .field{
      width: 100%;
      max-width: 100% !important;
      display: flex;
      flex-direction: column;

      & #fixedId, #fixedIdEdit{
         height: 16px;
         width: 16px;
         margin-left: 10px;
         margin-top: 7px;
      }
      
      & #endDateId, & #dateId, & #endDateIdEdit, & #dateIdEdit{
         width: 117px;
      }

      & label{
         font-size: 13px;
         font-weight: bold;
         color: rgb(83, 83, 83);
      }
   }


   & input, & select{
      height: 30px;
      border-radius: 5px;
      border: 1px solid lightgray;
      padding-left: 5px;
   }
   
   & input[type='submit']{
      width: 100%;
      height: 40px;
      background-color: rgb(4, 194, 187);
      transition: 0.4s;
      cursor: pointer;
      &:hover{
         background-color: rgb(0, 141, 136);
      }
   }
}

.table-box{
   border: 2px dashed purple;
   /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.13); */
   width: 70%;
   border-radius: 10px;
   overflow: hidden;

}
#table{
   width: 100%;
   border-collapse: collapse;
   font-weight: 300 !important;
   & thead{
      height: 40px;
      color: white;
      background-color: purple;
      
      & th{
         align-content: end;
         font-weight: 400;
         text-align: center;
      }
   }

   & tbody{

      & tr{
         height: 30px;
         cursor: pointer;
         transition: 0.4s;
         
         &:not(:last-child){
            border-bottom: 1px solid rgb(228, 228, 228);
         }

         &:hover{
            background-color: lightgray;
         }
      }

      & td:not(:nth-child(2)){
         text-align: center;
      }
      & td:nth-child(1){
         width: 100%;
      }

      & .income{
         color: rgb(0, 98, 0);
      }

      & .expense{
         color: rgb(148, 0, 0);
      }
   }

}

.hidden{
   display: none !important;
}